@import url(../css/reset.css);
@import url(../css/form.css);
@import url(../css/font.css);

body{
    background: #000;
}

/* logo section  */
.logo .text-warp ul li dl dt {
    font-size: 1.7857rem;
    font-weight: bold;  
    margin-bottom: 2.5rem;
    font-family: 'futura medium condensed bt';
    letter-spacing: -1px;
    overflow: hidden;
    color: #ffffff;
}

.logo .text-warp ul li dl dt span{
    display: inline-block;
    animation: text-ani 0.8s 0.1s both;
}
.logo .text-warp ul li dl dt span:nth-of-type(2){
    animation-delay: 0.2s;
}
.logo .text-warp ul li dl dt span:nth-of-type(2){
    animation-delay: 0.2s;
}
.logo .text-warp ul li dl dt span:nth-of-type(3){
    animation-delay: 0.3s;
}
.logo .text-warp ul li dl dt span:nth-of-type(4){
    animation-delay: 0.4s;
}
.logo .text-warp ul li dl dt span:nth-of-type(5){
    animation-delay: 0.5s;
}
.logo .text-warp ul li dl dt span:nth-of-type(6){
    animation-delay: 0.6s;
}
.logo .text-warp ul li dl dt span:nth-of-type(7){
    animation-delay: 0.7s;
}
.logo .text-warp ul li dl dt span:nth-of-type(8){
    animation-delay: 0.8s;
}
.logo .text-warp ul li dl dt span:nth-of-type(9){
    animation-delay: 0.9s;
}
.logo .text-warp ul li dl dt span:nth-of-type(10){
    animation-delay: 1s;
}
.logo .text-warp ul li dl dt span:nth-of-type(11){
    animation-delay: 1.1s;
}
.logo .text-warp ul li dl dt span:nth-of-type(12){
    animation-delay: 1.2s;
}

@keyframes text-ani {
    0%{
        transform: translateY(100px) rotate(-35deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}

/* logo section End */

/* section01  */

/* left title section  */
.section div.main-title h1{
    font-family: 'futura medium condensed bt';
    font-size: 4.5714rem;
    line-height: 5rem;
    color: #2209e3;
}
.section div.wrap{
    width: 100%;
    display: flex;
    
}
.section div.main-title{
    width: 50%;
}
.section div.main-title span a{
    color: #fff;
    font-size: 1.7142rem;
    font-family: 'futura medium condensed bt';
    display: block;

}
.section div.main-title span{
    display: block;
    border: solid 1px #fff ;
    border-radius: 20px;
    width: 30%;
    padding: 5px;
}
/* left title section END */
/* animation section */
.section div.circle-wrap{
    width: 50%;
    position: relative;
}
.section div.circle-wrap .circle{
    position: absolute;
    border-radius: 50%;
    animation: circular-size 3s 0s ease-in-out infinite;
}
.section div.circle-wrap .img-circle{
    clip-path: circle(540px 800px);
    position: absolute;
    width: 800px;
    height: 540px;  
    background: url(../image/iMac-Pro-Mockup-bg.png);
    border-radius: 65% 35% 60% 40%;
    z-index: 99;
    top: 200px;
    left: -50px;
    padding: 120px 0 0 32px;
    animation: prd-box 18s 0s linear infinite;
    overflow: hidden;
}
.section div.circle-wrap .img-circle img{
    width:140%;
    vertical-align: top;
    margin: -222px -190px;
    animation: circular-size 3s 0s ease-in-out infinite;

}

.section div.circle-wrap .circle-02{
    top: 70px;
    left: -100px;
    width: 250px;
    height: 250px;
    background: yellow;
  
}
.section div.circle-wrap .circle-03{
    top: 750px;
    left: 580px;
    width: 150px;
    height: 150px;
    background:#2209e3;
}
.section div.circle-wrap .circle-04{
    top: 50px;
    left: -140px;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: crimson;

}

@keyframes prd-box {
	0% {
		border-radius:65% 35% 60% 40%;
	}
	25% {
		border-radius:35% 65% 40% 60%;
	}
	50% {
		border-radius:60% 40% 65% 35%;
	}
	75% {
		border-radius:40% 60% 35% 65%;
	}
}

@keyframes circular-size {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.12);
		transform: scale(1.12);
	}
}